.todolist-item {
  display: flex;
  padding: 1rem;
  align-items: center;
  .checkbox {
    flex: 1;
    align-items: center;
    cursor: pointer;
    svg {
      font-size: 1.3rem;
      display: inline-block;
      vertical-align: middle;
    }
    .text {
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.5rem;
    }
    &.checked {
      svg {
        color: #0a0a0a;
      }
      .text {
        color: #a5a5a5;
        text-decoration: line-through;
      }
    }
  }
  .remove {
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      font-size: 1.3rem;
    }
  }
  & + & {
    border-top: 1px solid #000;
  }
}