.todo-form {
  display: flex;
  margin-top: 1.5rem;
  input {
    flex: 1;
    border: 1px solid #000;
    padding: 0.5rem 0.9rem;
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #dcdcdc;
    &::placeholder {
      opacity: 0.3;;
    }
  }
  button {
    display: flex;
    box-sizing: border-box;
    margin-left: -1px;
    padding: 0 1rem;
    background-color: #fff;
    color: #333;
    border: 1px solid #000;;
    font-size: 1.3rem;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}